body {
	background-color: black;
}

#container {
	position: relative;
}

canvas {
	width: 100%;
	height: 100%;
	border: 1px solid white;
}
#name {
	background-color: aliceblue;
}
label {
	color: aliceblue;
}

